# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# venv
venv/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE-specific files
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Miscellaneous
*.pyc
*.bak
*.swp
.DS_Store
Thumbs.db
error.log